strong{
  font-size: 18;
  color: brown;
  text-decoration: wavy;
  font-family: 맑은고딕;
}

code{
  background-color: rgb(61, 199, 146);
  display: block;
  font-weight: 10;
}

/* 기본 속성 선택자 */
/* 선택자 [속성= '속성값'] {} */

div[name= 'name1']{ background-color: yellowgreen;}
div[name= "name2"]{background-color: coral;}

/* q 태그중 qwer 속성 값이 test1 인 요소만 선택 */
p[qwer='test1']{background-color: palevioletred;}
p[qwer=test2]{background-color: rgb(216, 0, 72);}


/* 클래스가 parent-1 요소의
한 단계 아래에 존재하는 모든 li 태그를 선택 */
.parent-1 > li{
  font-size: 18;
}

/* parent-1 한 단계 아래에있는 child-1에있는것만 선택. */
.parent-1 > .child-1 {
  background-color: aqua;

}

.parent-1 > li > span {
  background-color: #ff0000;
}


/* 후손 선택자 */
/* A B */
/* 클래스가 parent-2 인 요소의 후손 중 
모든 p 태그 선택*/
.parent-2 p {
  background-color: lightcoral;
}

.parent-2 div p {
  font-size: 20;
  font-weight: bold;
  color: white;

  
}

/* .parent-2 의 자식중 div 선택 */
.parent-2 div {
  background-color: red;
  padding: 10;
  
}

/* .parent-2의 자식중 div 의 모든 자식/후손 선택 */

.parent-2 > div *{

  background-attachment: yellow;
}

/* 상태 선택자 : focus */
.input-1:focus{

  /* input에 초점이 맞춰줬을떄 아웃라인 색이 변함 */
  outline-color: green;
  background-color: #00ffff;
}


/* 상태 선택자 :checked */
/* .input-2가 체크 되었을떄 */

.input-2:checked{
  width: 30px;
  height: 30px;
  color: red;
  /* 체크시 보여지는 표시는 이미지이기 떄문에   
  색상 관련된 css 가 적용되지 않는다!
  (최근 변경 가능한 css 속성이 추가됨)*/
}


/* 상태 선택자 :enabled / :disabled */
.input-3:enabled:{background-color: greenyellow;}
.input-3:disabled{background-color: darkgreen;}

/* 반응 선택자 */
.test-box{
  width: 50px;
  height: 50px;
  border: 10px solid black;
  cursor: pointer;
}


/* 마우스 커서가 올라갔을떄 */

.test-box:hover{
  background-color: yellow;
}

/* 요소를 클릭하고 있을 떄 */
.test-box:active{

  background-color: aqua;
  border-style: inset;
  scale: 0.5;
}


/* 동위 선택자 */

/* A + B : A 바로 뒤에 있는 형제요소 B 하나 선택 */

/* #div1 요소 바로 뒤에있는 div 선택하기 */

#div1 + div{
  background-color: red;
}

#div4 + p{
  background-color: #1d1717;
}

/* A ~ B : A 뒤에 존재하는 모든 B 선택 */
#div1 ~ div{
  font-size: 10px;
  font-weight: bold;
}

#div3 ~ div{
  background-color: yellow;
}


/* 체크박스 꾸미기 */

/* 1. lavel 요소를 체크박스 모양으로 만들기 */
#check1 + label {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: inline-block;
  /* inline-block : 가로로 배치 + 크기 지정 */
  cursor: pointer;

/* 모서리 곡률 지정 */
  
  border-radius: 3.5px;

  user-select: none;
}

/* 2. #check1 이 체크 되었을떄
    label의 배경 이미지를 변경 */
#check1:checked + label{
  background-image: url('../images/checkbox.png');

  /* 배경 이미지를 요소 크기에 맞춤 */
  background-size: cover;
}

/* 3. 체크박스를 존재는 하지만 보이지 않게 처리 */

#check1{display:none;}
 

